body {
    margin: 0;
}

header {
    background:  linear-gradient(to right, #cc0000 0%, #990000 33%);
    color: white;
    font-family: calibri;
    padding: 20px 0px 0px 0px;
    box-shadow: 0 3px 5px black;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-support-block1 {
    display:flex;
    width: 70%;
    justify-content: space-around;
}

.navigation-support-block2 {
    display:flex;
    width: 30%;
    justify-content: flex-end;
}

.navigation__title {
    margin: 0;
    position: relative;
    padding: 2% 5%;
    font-size: 25px;
    font-family:  arial;
    bottom: 10px;
    width: 22vw;
    text-align: center;
    max-width: 115px;
}


.navigation-list {
    display: flex;
    flex-wrap: no-wrap;
    margin: 0;
    padding: 0;
}

.navigation__dropdown {
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0 2px 0 0;
    min-width: 120px;

}

.navigation__dropdown:hover .navigation-list__button-content {
    display: block;
}

.navigation-list__button-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    border-top: 1px solid #1a1a1a;
}

.navigation-list__button-content a {
    text-decoration: none;
    display: block;
    color: white;
    background: #990000;
    height: 28px;
    padding: 0 0 0 15px;
}

.navigation-list__button-content a:hover {
    background: #800000;

}

.navigation-list__link {
    list-style-type: none;
    background:   linear-gradient(to right, #cc0000 0%, #990000 33%);
    color: white;
    padding: 2% 7%;
    margin: 0 2px 0 0;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 2px 0 5px black;
}

@media only screen and (max-width: 600px) {
#about, #contact  {
    display: none;
}
}

.navigation-list__button {
    list-style-type: none;
    background:   linear-gradient(to right, #cc0000 0%, #990000 33%);
    text-decoration: none;
    position: relative;
    box-shadow: 2px 0 5px black;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: white;

}

.navigation-list__link:hover {
    background:   #800000;
    cursor: pointer;
}
.navigation-list__button:hover {
    background:   #800000;
    cursor: pointer;

}

.navigation-list__logo {
    width: 56px;
    height: 56px;
    position: relative;
    right: 6%;
    bottom: 10%;
    margin-bottom: ;
}

.page {
   width: 100%;

}

.block {
    background: #e0ebeb;
    padding: 55px 0 280px 0px;

}


.row {
    /*padding: 0 0 0 17%;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}


.row__img {
    width: 38vmin;
    height: 28vmin;
    margin: 0 0px 15px 0px;
    box-shadow:  2px 2px 9px grey;
}

#photo-gallery {
    padding-top: 35px;
    padding-bottom: 77px;    
}

.row__img:hover {
    opacity: 0.8;
}

.block__header {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 35px;
    font-family: arial;
    text-shadow: 0 1px 1px grey;
}

.block--white {
    background: #f2f2f2;
    padding: 20px 0 55px 0px;
    text-align: center;
    font-family: arial;
}


.block--white img {
    width: 64px;
    height: 64px;  
} 

#features__title {
    font-size: 35px;
    margin-top: 0;
    text-shadow: 0 1px 1px grey;
}

.block__features {
    margin: 1% 2%;
    width: 23%;
    height: 28vmin;
    display: inline-block;
    box-shadow: 1px 2px 5px grey;
    font-family: arial;
    text-align: center;
    word-wrap: break-word;
}

.block__features p {
    margin: 8% 10px 5% 10px;
}

footer {
    background: #24292e;
    color: white;
    height: 80px;
}

@media only screen and (max-width: 600px) {
.block__features  {
    width: 52%;
    height: 33vmin;
}
}

.block--white span {
    display: block; 
    margin-top: 40px;
    font-family: arial;
    font-size: 28px;
    text-shadow: 0 1px 1px grey;
}
